html {
   box-sizing: border-box;
}
*,
*::before,
*::after {
   box-sizing: inherit;
}

/* Змінні */
:root {
   --primary-white-color: #ffffff;
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196f3;
}
/* Body стилі */
.body-page {
   background-color: var(--primary-white-color);
   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: calc(24 / 14);
   letter-spacing: 0.03em;
}

/* загальні стилі */
.link {
   text-decoration: none;
}
.list {
   list-style: none;
   padding: 0;
   margin: 0;
}
.visualy-hidden {
   visibility: hidden;
   margin: 0;
   font-size: 0;
}

/* Основна навігація */
.header-page {
   border-bottom: 1px solid #ececec;
}
.main-nav {
   display: flex;
   align-items: center;
   padding-top: 24px;
   padding-bottom: 0;
}
.logo {
   color: var(--accent-color);
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: calc(31 / 26);
   letter-spacing: 0.03em;
   padding-bottom: 25px;
}
.logo__end-header {
   color: #000000;
}
.site-nav {
   display: flex;
   margin-left: 93px;
}
.site-nav__item {
   margin-right: 50px;
}
.site-nav__item:last-child {
   margin-right: 0;
}
.site-nav__link {
   display: block;
   padding-top: 10px;
   padding-bottom: 0;
   color: var(--title-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.02em;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
   color: var(--accent-color);
}
.site-nav__link--current {
   color: var(--accent-color);
}
.site-nav__link--current::after {
   display: block;
   content: "";
   margin-top: 28px;
   padding-bottom: 0;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--accent-color);
}
.contact-nav {
   display: flex;
   margin-left: auto;
   text-decoration: none;
   font-style: normal;
}

.contact-nav__item + .contact-nav__item {
   margin-left: 50px;
}

.contact-nav__link {
   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.02em;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav__link:hover,
.contact-nav__link:focus {
   color: var(--accent-color);
}
.contact-nav__item {
   display: flex;
}
.contact-way {
   display: flex;
}
.contact-info {
   display: flex;
}

.contact-nav__mail-icon {
   width: 16px;
   height: 12px;
   align-items: center;
   margin-right: 10px;
   fill: currentColor;
}

.contact-nav__phone-icon {
   width: 10px;
   height: 16px;
   align-items: center;
   margin-right: 10px;
   fill: currentColor;
}

/* conteiner */
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 0;
}

/* hero */
.hero {
   background-color: #c4c4c4;
   text-align: center;
}
.hero__overlay {
   height: 600px;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;

   background-image: linear-gradient(
         to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
   background-position: center;
}
.hero__title {
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   margin-bottom: 30px;
   padding-top: 200px;
   width: 696px;
   color: var(--primary-white-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: calc(60 / 44);
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.hero__button {
   background-color: var(--accent-color);
   color: var(--primary-white-color);
   min-width: 216px;
   border-radius: 4px;
   padding: 10px 32px;
   border: 1px solid transparent;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: calc(30 / 16);
   display: inline-block;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}
.hero__button-position {
   padding-bottom: 200px;
}

/* modal window */

.modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   opacity: 1;
   visibility: visible;
   transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.modal-backdrop.is-hidden .modal {
   transform: scale(3.5);
}
.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: transform 500ms ease-in-out;
   width: 528px;
   height: 581px;
   background-color: var(--primary-white-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   border-color: rgba(0, 0, 0, 0.1);
}

.modal .close-sign {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   width: 30px;
   height: 30px;
   top: 8px;
   right: 8px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close-sign:hover,
.modal .close-sign:focus {
   fill: var(--accent-color);
}
.feedback-title {
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: calc(23 / 20);
   letter-spacing: 0.03em;
   color: var(--title-text-color);
   text-align: center;
   margin-top: 40px;
   margin-bottom: 12px;
}

.feedback-form {
   width: 448px;
   height: 342px;
   margin-left: 40px;
   margin-right: 40px;
}

.label-title {
   display: block;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: calc(14 / 12);
   letter-spacing: 0.01em;
   color: var(--primary-text-color);
   margin-bottom: 10px;
}

.feedback {
   width: 448px;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 35px;
   margin-top: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback:hover,
.feedback:focus {
   outline-style: none;
   border-color: var(--accent-color);
}
.label-title .comments {
   margin-bottom: 20px;
}

.feedback-comments {
   width: 448px;
   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   resize: none;
   padding: 12px 16px;
   margin-top: 4px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-comments:hover,
.feedback-comments:focus {
   outline-style: none;
   border-color: var(--accent-color);
}
.agreement-text {
   display: flex;
   align-items: center;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: calc(24 / 14);
   letter-spacing: 0.03em;
   color: var(--primary-text-color);
   padding-left: 8px;
}
.condittion-link {
   padding: 5px;
}
.custom-checkbox {
   position: absolute;
   display: flex;

   width: 16px;
   height: 15px;
   border: 2px solid var(--title-text-color);
   border-radius: 2px;
   margin-left: -8px;
}
.checkbox-agree:checked + .custom-checkbox {
   background-color: var(--accent-color);
   /* background-image: url(/images/check.svg); */
   border-color: var(--accent-color);
   /* background-repeat: no-repeat; */
}
.custom-checkbox-sign {
   padding: 1px;
}
.send-button {
   display: block;
   width: 200px;
   height: 50px;
   border: 1px solid var(--accent-color);
   border-radius: 4px;
   background-color: var(--accent-color);
   color: var(--primary-white-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: calc(30 / 14);
   letter-spacing: 0.06em;
   margin: 0 auto;
   margin-top: 30px;
}

.input-wrapper {
   position: relative;
}
.username-sign {
   position: absolute;
   display: flex;
   width: 18px;
   height: 18px;
   left: 12px;
   top: 50%;
   transform: translateY(-50%);
   fill: var(--title-text-color);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-username:focus + .username-sign,
.input-phone:focus + .username-sign,
.input-email:focus + .username-sign {
   fill: var(--accent-color);
}

/* section index*/
/* features */

.feature__list {
   display: flex;
}
.feature__wrapper {
   width: 270px;
   height: 120px;
   margin-bottom: 30px;
   text-align: center;
   background-color: #f5f4fa;
   border-radius: 4px;
}
.feature__icon {
   width: 70px;
   height: 70px;
   margin-top: 25px;
}
.feature__item {
   width: 370px;
   margin-right: 30px;
   margin-bottom: 0;
}
.feature__item:nth-child(4n) {
   margin-right: 0;
}
.feature {
   padding-top: 94px;
}

.feature__title {
   margin-top: 0;
   margin-bottom: 10px;
   color: var(--title-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.feature__text {
   margin-top: 0;
   margin-bottom: 0;
   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: calc(24 / 14);
   letter-spacing: 0.03em;
}

/* our cases */
.cases,
.team {
   padding-top: 94px;
   padding-bottom: 94px;
}
.cases__list {
   display: flex;
}

.label {
   display: block;
   position: relative;
}

.pic {
   display: block;
}

.label__text {
   color: var(--primary-white-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   text-align: center;
   padding-top: 27px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin: 0;
   position: absolute;
   width: 370px;
   height: 70px;
   background-color: rgba(47, 48, 58, 0.8);
   bottom: 0;
   right: 0;
}
.cases__item {
   display: block;
   width: 370px;
   margin-right: 30px;
   margin-bottom: 0;
}
.cases__item:nth-child(3n) {
   margin-right: 0;
}
.cases__title,
.team__title {
   margin-top: 0;
   margin-bottom: 50px;
   color: var(--title-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: calc(42 / 36);
   text-align: center;
   letter-spacing: 0.03em;
}

/* our team */
.team {
   background-color: #f5f4fa;
}
.team__list {
   display: flex;
}
.team__item {
   width: 370px;
   margin-right: 30px;
   margin-bottom: 0;
   border: 1px solid var(--primary-white-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   background-color: var(--primary-white-color);
}
.team__item:nth-child(4n) {
   margin-right: 0;
}
.team__worker-name {
   margin-top: 30px;
   margin-bottom: 10px;
   color: var(--title-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(19 / 16);
   letter-spacing: 0.03em;
   text-align: center;
}
.team__worker-profession {
   margin-top: 0;
   margin-bottom: 16px;
   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: calc(19 / 16);
   letter-spacing: 0.03em;
   text-align: center;
}
.social-networks {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 44px;
   margin-bottom: 30px;
}

.social-networks__item {
   display: flex;
   align-items: center;
   padding: 12px 12px;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   margin-right: 10px;
   color: #afb1b8;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__item:nth-child(4n) {
   margin-right: 0px;
}

.social-networks__item:hover,
.social-networks__item:focus {
   background-color: var(--accent-color);
   color: var(--primary-white-color);
}

.social-networks__icon-style {
   fill: currentColor;
   width: 20px;
   height: 20px;
}

/* our clents */
.clients__title {
   text-align: center;
   margin-top: 94px;
   margin-bottom: 50px;
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: calc(42 / 36);
}
.clients__list {
   display: flex;
}

.clients__items {
   margin-bottom: 94px;
}
.clients__items:not(:last-child) {
   margin-right: 30px;
}

.clients__logo {
   width: 170px;
   height: 92px;
   padding: 16px 32px;
   fill: #afb1b8;
   border: 1px solid #afb1b8;
   border-radius: 4px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:hover,
.clients__logo:focus {
   fill: var(--accent-color);
   border-color: var(--accent-color);
}

/* footer */
.footer {
   background-color: #2f303a;
   padding-top: 60px;
   padding-bottom: 60px;
}
.footer-content {
   display: flex;
}
.logo-position {
   margin-bottom: 20px;
}
.logo__end-footer {
   color: var(--primary-white-color);
}

.address__link {
   color: var(--primary-white-color);
}
.address__link,
.address__mail {
   margin-bottom: 9px;
}
.address__tel,
.address__mail {
   color: rgba(255, 255, 255, 0.6);
}

.join {
   display: flex;
   width: 206px;
   height: 80px;
   margin-left: 70px;
}

.join__title {
   margin-top: 0;
   margin-bottom: 20px;
   color: var(--primary-white-color);
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   text-transform: uppercase;
}
.social-networks__item--reverse {
   color: var(--primary-white-color);
   background-color: rgba(255, 255, 255, 0.1);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__item--reverse:hover,
.social-networks__item--reverse:focus {
   background-color: var(--accent-color);
}
.subscribe {
   width: 570px;
   height: 86px;
   margin-left: 93px;
}

.subscribe__title {
   margin-top: 0;
   margin-bottom: 20px;
   color: var(--primary-white-color);
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   text-transform: uppercase;
}

.subscribe__form {
   display: flex;
}
.subscribe__field {
   width: 358px;
   height: 50px;
   color: rgba(255, 255, 255, 0.6);
   background-color: transparent;
   font-weight: 400;
   font-size: 16px;
   line-height: calc(20 / 16);
   letter-spacing: 0.03em;
   padding-left: 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
}

.subscribe__button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   margin-left: 12px;
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   font-weight: 700;
   font-size: 16px;
   line-height: calc(30 / 16);
   letter-spacing: 0.06em;
   border-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   cursor: pointer;
}
.subscribe__icon-send {
   width: 24px;
   height: 24px;
   margin-left: 10px;
}

/* portfolio */
/* filter */
.filter {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}
.filter__button {
   display: inline-block;
   background-color: #f5f4fa;
   color: var(--title-text-color);
   border-radius: 4px;
   padding: 6px 22px;
   border: 1px solid transparent;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: calc(26 / 16);
   text-align: center;
   letter-spacing: 0.03em;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__item {
   margin-right: 8px;
}
.filter__item:last-child {
   margin-right: 0;
}

.filter__button:hover,
.filter__button:focus {
   background-color: var(--accent-color);
   color: var(--primary-white-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section portfolio*/
.portfolio {
   width: 1200px;
   padding-top: 94px;
   padding-bottom: 94px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.portfolio__container {
   display: flex;
   flex-wrap: wrap;
}
.portfolio__item {
   width: 370px;
   margin-right: 30px;
   margin-bottom: 30px;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:nth-child(3n) {
   margin-right: 0;
}
.portfolio__item:nth-last-child(-n + 3) {
   margin-bottom: 0;
}
.portfolio__item:hover,
.portfolio__item:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item-content {
   border: 1px solid rgba(238, 238, 238, 1);
   padding: 20px 24px;
}
.portfolio__title {
   color: var(--title-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: calc(36 / 18);
   letter-spacing: 0.06em;
}
.portfolio__text {
   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: calc(30 / 16);
   letter-spacing: 0.03em;
}
.portfolio__item-wrapper {
   display: block;
   position: relative;
   overflow: hidden;
}
.portfolio__overlay {
   color: var(--primary-white-color);
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: calc(28 / 18);
   text-align: left;
   padding-top: 27px;
   letter-spacing: 0.03em;
   padding: 63px 24px;

   margin: 0;
   position: absolute;
   width: 370px;
   height: 294px;
   background-color: rgba(33, 150, 243, 0.9);
   bottom: 0;
   right: 0;
   transform: translateY(100%);
   transition: transform 250ms ease;
}
.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
   transform: translateY(0);
}
