.logo {
   color: var(--accent-color);
   font-family: var(--secondary-font);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: calc(31 / 26);
   letter-spacing: 0.03em;
   padding-bottom: 25px;
}
.logo__end-header {
   color: #000000;
}