/* Змінні */
:root {
   --primary-white-color: #ffffff;
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196f3;
   --primary-font: "Roboto", sans-serif;
   --secondary-font: "Raleway", sans-serif;
}
